extends layout

block content
  #outer
    h1.text-center.login-title
    h1(style='text-shadow:#fff 0px 1px 0, #000 0 -2.5px 0;line-height:3em; font-family: Serif; font-size:3em; font-weight:bold; color:#6f706c;') Welcome to #{title}
    h4(style='text-shadow:#fff 0px 1px 0, #000 0 -1px 0;line-height:2em; font-family: Serif; font-size:1.5em; font-weight:bold; color:#6f706c;') Choose options to Draw a Chart
    
    form(action='/displayChart', method='GET')
      div.form-group(name= 'x-axis', style='font-weight:bold') X-axis:  
        select(name='listX')
          option(value='dtCategory') Downtime Category
          option(value='dtCode') Downtime Code
          option(value='shift') Shift
          option(value='prodLine') Production Line
          option(value='pid') Product Id
          option(value='op') Operator
          option(value='tech') Technician

      div.form-group(name= 'y-axis', style='font-weight:bold') Y-axis:  
          select(name='listY')
            option(value='Duration') Duration
      div.form-group(name= 'shift', style='font-weight:bold') Shift: 
          &nbsp&nbsp
          select(name='selectShift')
            option(value='All') All
            option(value='First') First
            option(value='Second') Second
            option(value='Third') Third
      div.form-group(name= 'Production Line', style='font-weight:bold') Production Line:  
          input(type='text', name='pdLine', placeholder='# 101  - # 120')

      div.form-group(name= 'Product ID', style='font-weight:bold') Product ID:  
          input(type='text', name='pdId', placeholder='# 1500  - # 1529')

      div.form-group(name= 'DownTimeCategory', style='font-weight:bold') Down Time Category: 
          &nbsp&nbsp
          select(name='selectDtCategory')
            option(value='All') All
            option(value='Planned') Planned
            option(value='Maintenance') Maintenance
            option(value='Waiting') Waiting
            option(value='Quality') Quality
            option(value='Other') Other
      div.form-group(name= 'DownTimeCode', style='font-weight:bold') Down Time Code: 
          &nbsp&nbsp
          select(name='selectDtCode')
            option(value='All') All
            option(value='PM') P-PM
            option(value='B') P-B
            option(value='L') P-L
            option(value='C') P-C
            option(value='T') P-T
            option(value='MF') M-MF
            option(value='MC') M-MC
            option(value='MBL') M-MBL
            option(value='MCT') M-MCT
            option(value='MCN') M-MCN
            option(value='WBP') W-WBP
            option(value='WEB') W-WEB
            option(value='WC') W-WC
            option(value='WL') W-WL
            option(value='WSL') W-WSL
            option(value='BC') Q-BC
            option(value='CLB') Q-CLB
            option(value='PQL') Q-PQL
            option(value='PWI') Q-PWI
            option(value='FUW') Q-FUW
            option(value='O') Other
      div.form-group(name='selectFromDate', style='font-weight:bold') From: 
        input(type='text', id= 'txtToDate', name='selectFromDate')
      br
      div.form-group(name='selectToDate', style='font-weight:bold') To: &nbsp&nbsp&nbsp&nbsp&nbsp
        input(type='text', id= 'txtFromDate', name='selectToDate') 
      br
      div.form-group
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      button(type='submit') Submit
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      
      button(type='reset') Reset
      #message
          if message
            h1 #{message}
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css')
  script.
    $(function () {
      $('#txtFromDate').datepicker({
        numberOfMonths: 2,
        dateFormat: 'yy-mm-dd',
        onSelect: function(selected) {
          var dt = new Date(selected);
          dt.setDate(dt.getDate() + 1);
          $('#txtToDate').datepicker('option','maxDate', dt);
        }
      });
      $('#txtToDate').datepicker({
        numberOfMonths: 2,
        dateFormat: 'yy-mm-dd',
        onSelect: function(selected) {
          var dt = new Date(selected);
          dt.setDate(dt.getDate() - 1);
          $('#txtFromDate').datepicker('option','minDate', dt);
        }
      });
    });
