doctype html(lang='en')
html
  head
    title Home Page
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css')
    link(href='http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css' rel='stylesheet' type='text/css')
    //script(type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    //script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/jquery.jqplot.min.js')
    //script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.pointLabels.min.js')
    //script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.dateAxisRenderer.min.js')
    //script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.canvasAxisTickRenderer.min.js')
    //script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.categoryAxisRenderer.min.js')
    //script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.barRenderer.min.js')
    //link(rel='stylesheet',type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/jquery.jqplot.min.css')
  body
    block content
    .footer
      .container
        .row
          .col-sm-6
            p(style='font-weight:bold;font-size:15px;') Drawing Charts is fun! 
            p
              | Project   -  CPSC 531 
              br
              | PS. Final project - Advanced Database Management!!!
          .col-sm-6
            p.text-info.text-right
              br
              br
            .row
              .col-md-12.hidden-lg.hidden-md.hidden-sm.text-left
                a(href='#')
                  i.fa.fa-3x.fa-fw.fa-instagram.text-inverse
                a(href='#')
                  i.fa.fa-3x.fa-fw.fa-twitter.text-inverse
                a(href='#')
                  i.fa.fa-3x.fa-fw.fa-facebook.text-inverse
                a(href='#')
                  i.fa.fa-3x.fa-fw.fa-github.text-inverse
            .row
              .col-md-12.hidden-xs.text-right
                a(href='#')
                  i.fa.fa-3x.fa-fw.fa-instagram.text-inverse
                a(href='#')
                  i.fa.fa-3x.fa-fw.fa-twitter.text-inverse
                a(href='#')
                  i.fa.fa-3x.fa-fw.fa-facebook.text-inverse
                a(href='#')
                  i.fa.fa-3x.fa-fw.fa-github.text-inverse
